# Telegram API Credentials
API_ID=27317669
API_HASH=11b88c331c5d44fde57cf91de1a2156b

# Bot Token
BOT_TOKEN=8415514217:AAFgSxR_RPuzge7J7tXYDFrmIFalRUeFTB8

# Database
MONGO_DB=mongodb+srv://rockybhai2109rs:Cool2109₹@cluster0.lvv2o.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Other Settings
OWNER_ID=6947378236
LOG_GROUP=-1002896498332
CHANNEL_ID=-1002267643770
FREEMIUM_LIMIT=100
PREMIUM_LIMIT=5000
WEBSITE_URL=upshrink.com
AD_API=52b4a2cf4687d81e7d3f8f2b7bc2943f618e78cb

# Cookies (Paste your cookies here or in a separate file)
INSTA_COOKIES=
YT_COOKIES=
